@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: LexendMedium;
  src: url('./assets/fonts/Lexend-Medium.ttf');
}

@font-face {
  font-family: LexendExtraLight;
  src: url('./assets/fonts/Lexend-ExtraLight.ttf');
}

body {
  margin: 0;
  font-family: LexendExtraLight;
}

code {
  font-family: LexendExtraLight;
}
